# Theodoro Bertol Dev (Abeelha) #
# || Day 2 Machine Learning/Data || #

In [12]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

# Load data from a CSV file into a DataFrame
music_data = pd.read_csv("music.csv")

(18, 3)

In [13]:
#Remove rows or columns by specifying label names and corresponding axis
age_gender = music_data.drop(columns=["genre"])
age_gender

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [14]:
#
genre = music_data["genre"]
genre

0        HipHop
1        HipHop
2        HipHop
3          Jazz
4          Jazz
5          Jazz
6     Classical
7     Classical
8     Classical
9         Dance
10        Dance
11        Dance
12     Acoustic
13     Acoustic
14     Acoustic
15    Classical
16    Classical
17    Classical
Name: genre, dtype: object